/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  height:100vh;
  overflow-y:auto;
  
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Stripe Styles
===============
*/
.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  background: var(--clr-black);
  cursor: pointer;
  transition: var(--transition);
}
.btn-div{
  display:flex;
  justify-content:space-around;
  width:300px;
  margin-left:-15px;
}
.btn:hover {
  background: var(--clr-grey-5);
}
.nav-links {
  display: none;
}
.signin-btn {
  display: none;
}
.hero::before,
.about-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background: url(./images/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.hero {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.hero-center {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  align-items: center;
}

.hero-info h1 {
  text-transform: none;
  max-width: 500px;
  margin-bottom: 2rem;
}
.hero-info p {
  max-width: 35em;
  line-height: 1.8;
}
.hero-images {
  display: none;
}
.toggle-btn2{
  font-size: 1.4rem;
}

/* nav media query */
@media screen and (min-width: 800px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .toggle-btn {
    display: none;
  }
  .signin-btn {
    display: inline-block;
  }
  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .nav-links li {
    height: 100%;
  }
  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
  }
}

/* hero media query */
@media screen and (min-width: 800px) {
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero-center {
    grid-template-columns: 2fr 1fr;
  }

  .hero-info h1 {
    font-size: 3rem;
  }
  .hero-info p {
    font-size: 1.25rem;
  }
  .hero-images {
    display: block;
    justify-self: center;
  }
  .phone-img {
    width: 12rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
    padding-bottom: 12vh;
  }
  .hero-info h1 {
    max-width: 100%;
    font-size: 4.5rem;
  }
  .hero-images {
    align-self: end;
  }
  .phone-img {
    width: 15rem;
  }
}
@media screen and (min-width: 1400px) {
  .hero-info h1 {
    max-width: 100%;
    font-size: 5.5rem;
  }
  .hero-center {
    padding-bottom: 20vh;
  }
  .phone-img {
    width: 17rem;
  }
}

/* sidebar */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.sidebar {
  width: 90vw;
  height: 95vh;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  padding: 4rem 2rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.sidebar article {
  margin-bottom: 2rem;
}
.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}
.sidebar-sublinks a {
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.sidebar-links h4{
   color: var(--clr-grey-2);
}
.sidebar-sublinks svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

@media screen and (min-width: 800px) {
  .sidebar-wrapper {
    display: none;
  }
}

/* links */
.submenu {
  background: rgba(255, 255, 255, 0.849);
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding:1rem  1rem;
  border-radius: var(--radius);
  transition: var(--transition);
  
}
.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 800px){
.submenu.show {
  display: block;
}
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
}
.submenu-center a {
  width: 10rem;
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.submenu-center svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}
/*Home Css*/

.home-body{
  height:100vh;
  width:100%;
  background-color:black;
  overflow-y:hidden;
   margin:0;
}
.home-name{
  text-align:left;
  margin:40% 5%;
  padding-top:20%;
  padding-left:5%;
  color:white;
  margin:0;
  
  width:45%;
  z-index:2;
}
.home-name h2{
  margin-bottom:20px;
  font-size:1.8rem;
}
.home-name h1 {
  font-size:2.3rem;
}
.frontPage{
  display:flex;
  justify-content:space-between;
}
.home-picture{
  background-size:70%;
  height:70%;
  padding-top:40%;
  z-index:-0.5;
}
.stage{
  position:absolute;
  bottom:0;
  display:flex;
  height: 5rem;
  width:100%;
  margin-bottom:20px;
  justify-content:center;
margin-top:0rem;
}
.tap-link{
 
  animation-name:bounce-2;
  animation-timing-function:ease;

}
@keyframes bounce-2{
  0% {transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.tap-link p{
  text-align:center;
  padding-bottom:20px;
  margin: 0;
  color: white;
  font-size:14px;
  
}
.box{
   height:20px;
 transform-origin:bottom;
  align-self:flex-end;
  animation-duration:2s;
  animation-iteration-count:infinite;
}

/*footer css*/
.footer-links{
  padding-bottom:1rem;
  display:flex;
  margin:1rem auto;
  width:30%;
  justify-content:space-around;
}
.footer-sublinks{
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  }

  .footer-sublinks svg {
    color: var(--clr-grey-5);
    margin-right: 0.5rem;
  }
  /*about css*/

  #about-wrapper {
  height: fit-content;
  margin: 0;
  
}
#about-intro-wrapper {
  margin: auto;
  text-align: center;
  color: white;
}
.about-works-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 20px;
}
.another-works-wrapper {
  display: flex;
  flex: 1;
}

.works {
  height: 400px;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.849);
  margin: auto;
  box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 9px -1px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  text-align: center;
}
.works:hover {
  transform: translate(0, -10px);
}
#mobile {
  background-color:rgba(12, 12, 12, 0.849);
  color: white;
}
#web #content {
  z-index: 1;
}
@media (max-width: 840px) {
  .about-works-wrapper {
    display: block;
  }

  .another-works-wrapper {
    display: block;
  }

  .works {
    height: 400px;
    width: 75%;
    margin-bottom: 20px;
  }
}